@model IEnumerable<Huffy.Models.Stab>

@{
    ViewBag.Title = "Stab";
}

<h2 class="voffset5">My Upcoming stabs</h2>

<ul class="stabs voffset4">
    @foreach (var stab in Model)
    {
        <li>
            <div class="date">
                <div class="month">@stab.DateTime.ToString("MMM")</div>
                <div class="day">@stab.DateTime.ToString("d ")</div>
            </div>

            <div class="details">
                <span class="artist">@stab.Venue</span>
                <span class="genre">@stab.Genre.Name</span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Stabs", new { id = stab.Id })">Edit</a>
                </div>
            </div>
        </li>
    }
</ul>

